.formSignup{
	position: absolute;
	top: 190%;
	left : 50px;
	width: 95%;
	
}

.formPosition{
	position: absolute;
	top: 10%;
	left : 15%;
	width: 75%;

}
.errMsg {
	position: relative;
	left: 35%;
	color: red;
	text-align: center;
	margin-top: 10px;
}

