.formSignup{
	position: absolute;
	top: 190%;
	left : 50px;
	width: 95%;
	
}

.formPosition{
	position: absolute;
	height: 100%;
	width: 100%;
	

}

#signup {
	background-image: url("../../assets/img/giphy2.gif");
	
}

#Login {
	background-image: url("../../assets/img/giphy2.gif");
	
}

