
.imgContainer {

	width:480px;
    height: auto;
	position: absolute;
	left: 600px;
	top: -5%;


}

.authContainer{
	position: absolute;
	left: 80%;
	margin-bottom: 10px;
	/*background-color: #4A79FF; */
}

.videoContainer{
	/*width: 500px;*/
	width: 60%;
	position: absolute;
	top : 30%;
	left :325px;
	
}

.BackVid img {
	position: absolute;
	margin: 0 0 0 0;
	z-index: -99;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
/*.video-js.vjs-default-skin .vjs-big-play-button { display: none; }
.video-react-control-bar {
	display: none
}
.video-react-big-play-button {
    display: none
}*/